@import "bootstrap";

.contents {
  padding: 0px 25px;
}

.link-title {
  font-size: 1.5em;
}

.vote-icons {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 1.5em;
  display: inline-block;
  .glyphicon {
    margin-right: 3px;
  }
}
